body{
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    overflow: hidden;
}
.container{
    font-size: 10px;
    width: 40em;
    height: 40em;
    position: relative;
}
.sun{
    position: absolute;
    top: 15em;
    left: 15em;
    width: 10em;
    height: 10em;
    background-color: yellow;
    border-radius: 50%;
    box-shadow: 0 0 3em white;
}
.earth,.moon{
    
    border-style: solid;
    border-color: white transparent transparent transparent;   
    border-width: 0.1em 0.1em 0 0 ;
    border-radius: 50%;
}
.moon {
    position: absolute;
    width: 8em;
    height: 8em;
    animation: orbit 2.7s linear infinite;
}

.earth {
    position: relative;
    top: 5em;
    left: 5em;
    width: 30em;
    height: 30em;
    animation: orbit 36.5s linear infinite;
}

.moon::before {
    content: '';
    position: absolute;
    border-radius: 50%;
    top: 0.8em;
    right: 0.2em;
    width: 1.2em;
    height: 1.2em;
    background-color: silver;
    transform-origin: left top; /*to change the basic origin or the pt of reference of calculations to transform property to apply*/
    animation: orbit 2.7s linear infinite reverse; /* Reverse the animation direction for the moon's pseudo-element */
}
.earth::before{
    content: '';
    position: absolute;
    border-radius: 50%;
    top: 2.8em;
    left: 2.8em;
    width: 3em;
    height: 3em;
    background-color: aqua;
}

@keyframes orbit {
to {
    transform : rotate(360deg);   
}
}


/**Here the orbital line of objects is made by simply applying properties to the moon and earth div**/
/**the planets visible is made by pseudo element of both  moon and earth**/
/**The ::before pseudo-elements are absolutely positioned with respect to their respective Earth and Moon elements. The top, right, left, and transform-origin properties control the positioning of these pseudo-elements.**/